@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-MediumCn.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-MediumCn.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Cn.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-Cn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-BoldCn.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-BoldCn.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir Next LT Pro, "Open Sans", Helvetica, sans-serif;
  background: #3d444a;
}

.logo {
  width: 80px;
  height: 80px;
  padding-left: 1em;
}

.navigation-bar {
  background: #3d444a;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.navigation-bar ul {
  list-style-type: none;
  position: inherit;
  margin: 0;
  padding: 0;
  padding-right: 1.5em;
  padding-top: 1.5em;
}
.navigation-bar ul li {
  color: white;
  float: left;
}

.navigation-bar ul li a {
  font-size: 16pt;
  color: white;
  transition: color 0.3s;
  background-color: inherit;
  text-align: right;
  padding: 1em 2em;
}

.navigation-bar ul li a:link {
  text-decoration: none;
}

/* Add feature so that current is in red*/
.navigation-bar ul .current a {
  color: #00c2ff;
}

/* When hovered on it becomes a little red*/
.navigation-bar ul li a:hover {
  color: #7ac1d7;
}

.content {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #001f3f;
  color: white;
  text-align: center;
}

.content h1 {
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 35px;
}

.content hr {
  margin-top: 0px;
  width: 90%;
}

.content .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
}

.content .grid a h3 {
  color: #00c2ff;
}

.content .grid a:hover h3 {
  color: #1887a9;
}

.content .lil-head {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background: #00c2ff;
  text-align: center;
}

.discription {
  text-align: left;
  line-height: 33px;
}

.content .lil-head h1 {
  font-size: 30pt;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content .lil-head h2 {
  margin-top: 0px;
  font-size: 20pt;
  margin-bottom: 0px;
}

.content a div {
  cursor: pointer;
  background: #f0172b;
  display: inline-block;
  transition: background 0.5s, color 0.5s;
  color: white;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.content .lil-head a h2 {
  font-size: 20px;
  font-weight: 1;
}

.content a:link {
  text-decoration: none;
}

.content a:hover div {
  background: #fff;
  color: #f0172b;
}

footer {
  background: #3d444a;
  color: white;
  padding: 2em;
}

footer .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  text-align: center;
}

footer .bottom-logo {
  padding: 0px;
  margin: 0px;
  width: 80px;
}

footer h1 {
  color: white;
  font-size: 27px;
}

footer h2 {
  font-size: 15px;
  font-weight: bolder;
  margin: 1px;
  margin-bottom: 3px;
}

footer p {
  font-size: 15px;
  padding: 0px;
  margin: 1px;
}

footer a:link {
  text-decoration: none;
  color: #00c2ff;
}

footer a:hover {
  color: #1887a9;
  transition: color 0.3s;
}

footer ul {
  list-style-type: none;
}

footer .social-icon {
  width: 28px;
  padding: 2px;
  background: #00c2ff;
  transition: background 0.3s;
  border-radius: 20px;
  margin-right: 5px;
}

footer .icon-link:hover .social-icon {
  background: #1887a9;
  width: 28px;
  border-radius: 20px;
}
